.btn-primary {
  width: 100%;
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}
