$color: green;
.btn-primary {
  width: 100%;
  &:hover {
    background-color: $color;
  }
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 1;
  }
}
#german {
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.25rem;
}
.main-container {
  margin-top: 20px;
}
h1 {
  font-weight: 600;
  margin-bottom: 20px;
}
.title-table {
  margin-top: 20px;
}
